{% block main %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Web project</title>
    <link rel="stylesheet" href="static/css/master.css">
  </head>
  <body>

<div id="wrap" class="input">
  <!-- <div class="container">
    <div class="wrapper">
     <div class="div-logo">
       <img class="logo" src="static/uploads/cyfa.png" alt="">
     </div>
    </div>
  </div> -->
  <header class="input-header">
    <h1>Project #1 In Python (uwgsi server) CYFA</h1>
  </header>
  <section class="input-content">
    <h2>Socio<span>Cyfa Inc.</span></h2>
    <form class="" action="/signup" method="post" enctype="multipart/form-data">
      <div class="input-content-wrap">
       <div class="avatar-wrapper">
        <div class="avatar" id="imglink1">
            <img class="img-avatar" id="uploadPreview1" src="static/uploads/user.png" alt="">
        </div>
       </div>
       <div class="" style="border-radius: 10px; margin-top: 30px; width: 40%; margin-left: 37%;padding-left: 100px; padding: 4px; border: 2px solid orangered;">
           <p style="color:red; padding-left:20px;">{{msg}}</p>
       </div>
        <dl class="inputbox">
          <dt class="inputbox-title">UserID</dt>
          <dd class="inputbox-content">
            <input id="input0" type="text" name="email" required/>
            <label for="input0">Email</label>
            <span class="underline"></span>
          </dd>
        </dl>
        <dl class="inputbox">
          <dt class="inputbox-title">User Password</dt>
          <dd class="inputbox-content">
            <input id="input1" type="password" name="pass" required/>
            <label for="input1">Password</label>
            <span class="underline"></span>
          </dd>
        </dl>

        <dl class="inputbox">
          <dt class="inputbox-title">Confirm Password</dt>
          <dd class="inputbox-content">
            <input id="input1" type="password" name="c_pass" required/>
            <label for="input1">Confirm Password</label>
            <span class="underline"></span>
          </dd>
        </dl>

        <dl class="inputbox">
          <dt class="inputbox-title">Profile Image</dt>
          <dd class="inputbox-content">
            <input type="file" name="file" accept="image/*" >
            <span class="underline"></span>
          </dd>
        </dl>

        <div class="btns">
            <button type="submit" style="border-radius:10px;" class="btn btn-confirm">Register</button>
            <a href="/login" style="text-decoration:none; border-radius:10px;" class="btn btn-cancel">Login</a>
        </div>

      </div>
    </form>
  </section>
</div>
  </body>
<script src="{{ url_for('static', filename='js/jsfile.js') }}"></script>
</html>
{% endblock main %}
