{% block main %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Web project</title>
    <link rel="stylesheet" href="static/css/master.css">
  </head>
  <body>

<div id="wrap" class="input">
  <header class="input-header">
    <h1>Project #1 In Python (uwgsi server) CYFA</h1>
  </header>
  <section class="input-content">
    <h2>Socio<span>Cyfa Inc.</span></h2>
    <form class="" action="/edit-username" method="post">
      <div class="input-content-wrap">
        <div class="container-wrapper">
          <div class="avatar-holder">
            <img class="profile" id="uploadPreview1" src="static/uploads/{{msg}}" alt="">
          </div>
        <div class="user-name-wrapper">
            <div class="input-holder">
              <input type="text" name="username" list="fruits" autocomplete="off" placeholder="Enter username {{username}}" required/>
                <datalist id="fruits">
                  <option>Apple</option>
                  <option>Banana</option>
                  <option>Orange</option>
                  <option>Pineapple</option>
                  <option>Kiwi</option>
                </datalist>
            </div>
                <p style="color:green; padding-left:20px;">{{ usmsg }}</p>
                <a href="/"> HOME </a>
        </div>
        <div class="btns">
            <button  type="submit" style="text-decoration:none; border-radius:10px;" class="btn btn-confirm">Update</button>
        </div>
      </div>
    </form>
  </section>
</div>
  </body>
<script src="{{ url_for('static', filename='js/jsfile.js') }}"></script>
</html>
{% endblock main %}
