<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Web project</title>
    <link rel="stylesheet" href="static/css/master.css">
  </head>
  <body>

<div id="wrap" class="input">
  <!-- <div class="container">
    <div class="wrapper">
     <div class="div-logo">
       <img class="logo" src="static/uploads/cyfa.png" alt="">
     </div>
    </div>
  </div> -->
  <header class="input-header">
    <h1>Project #1 In Python (uwgsi server) CYFA</h1>
  </header>
  <section class="input-content">
    <h2>Socio<span>cyfa Inc.</span></h2>
    <div class="input-content-wr ap">
      <div class="inputbox">
        <a href="/login" class="a-btn"> Login To Your Account </a>
      </div>
      <div class="inputbox">
        <a href="/signup" class="a-btn"> Create Your Account </a>
      </div>


    </div>
  </section>
</div>
  </body>
</html>
